Repository gemini-hlsw/crystal, pull requests merged in 2023-11, with the labels that each got.

#564 Cogens. Better pot conversions.
  build.sbt
  modules/core/shared/src/main/scala/crystal/Pot.scala
  modules/core/shared/src/main/scala/crystal/PotOption.scala
  modules/testkit/shared/src/main/scala/crystal/arb/arbitraries.scala
  modules/tests/shared/src/test/scala/crystal/PotOptionSpec.scala
Labels: core, testkit, tests

#567 `Deglitcher`
  build.sbt
  modules/core/shared/src/main/scala/crystal/Deglitcher.scala
  modules/tests/shared/src/test/scala/crystal/DeglitcherSuite.scala
  project/Settings.scala
Labels: core, tests

#568 Use `monotonic` instead of `realTime`
  modules/core/shared/src/main/scala/crystal/Deglitcher.scala
Labels: core
